body{
    margin: 0px;
    background-image: url('guita4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#form{
    background-color: rgba(100 ,100,100, 0.6);
    margin-top: 100px;
    margin-left: 680px;
    height: 230px;
    width: 380px;
}
form{
    color: antiquewhite;
    margin-top:25px;
    margin-left: 35px;
    
}

.p{
    float: left;
    margin-left: 710px;
    margin-top: 120px;
    padding-top: 5px;
    color: antiquewhite;
    
}
a{
    text-decoration: none;
}
.button{
    float: left;
    margin-top: -340px;
    margin-left: 10px;
}

