header{
    background-color: #FBE0C3;
    height: 150px;
}

header img{
    margin-left: 400px;
    margin-top: 10px;
    
}
header h1{
    
    margin-left: 550px;
    margin-top: -60px;
    font-size: 50px;
}