/*========== INICIO DO ESTILO DA LOJAVIRTUAL.PHP =======*/
body{
    margin: 0px;
}
.prodAll{
    margin-left: 380px;
    background-color: #F5F5F5;
    width: 890px;
}
.info{
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 15px;
    color: slategray;
    font-size: 25px;
}
.prod{
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 32px;
    background-color: white;
    width: 180px;
    
}
.prod .imgMed{
    padding-top: 30px;
    width: 100px;
}
.prod span{
    
    color: silver;
}
.prod span1{
    margin-bottom: 10px;
    color: brown;
    font-size: 20px;
}
.prod .carrinho{
    margin-top:-10px;
     width:60px; 
}