/*========== INICIO DO ESTILO DO HEADER.PHP =============*/
body{
    margin: 0px;
}
/*inicio de estilo do header*/
.cadPed{
    background-color: olivedrab;
    height: 40px;
}
.pedidos{
    color: white;
    margin-left: 300px;
    padding-left: 50px;
    padding-top: 10px;
}
.cadastro{
    color: white;
    margin-left: 300px;
    padding-left: 180px;
    margin-top: -19px;
}
/*fim do estilo do header*/

/*inicio do estilo da Section*/
section{
    /*background-color: azure;*/
}
.logo{
    margin-left: 350px;
    margin-top: 30px;
}
.campoBusca{
    width: 500px;
    height: 50px;
    background-color: white;
    margin-left: 650px;
    margin-top: -65px;
    border: 3px solid silver;
    border-radius: 20px;
}
.procura{
    margin-left: 20px;
    margin-top: 5px;
    width: 25pc;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    color: silver;
    outline:none
}
.submit{
    display: block;
    margin-top: -43px;
    margin-left: 450px;
    height: 40px;
    outline:none
}
ul{
    margin-top: 40px;
    margin-left: 400px;
    list-style-type: none;
    display: inline-block;  
}
li{
    float: left;  
}
#medic{   
    margin-top: 10px;
    margin-left: 2px;
    color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.imgSau{
    padding-left: 50px;
    padding-top: 3px;
}
#saude{   
    margin-top: 10px;
    margin-left: -8px;
    color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}
#beleza{
    margin-top: 10px;
    margin-left: 3px;
    color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.imgBel{
    margin-top: 3px;
    margin-left: 57px;
}
/*fim do estilo do Section*/

/*começo do estilo do Article*/
.article{
   background-color: rgba(247, 247, 247, 0.8)
}
#boxMedicamentos{
    display: none;
    margin-top: 10px;
    margin-left: 380px;
    width: 890px;
    background-color: white;
}
#boxMedicamentos img{
    margin-top: 10px;
}
#boxMedicamentos p{   
    margin-top: 0px;
    padding: 20px;
    margin-left: 0px;
    display: inline-block; 
    width:254px;  
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#boxMedicamentos p:hover{
    background-color: #F5F5F5;
}
#boxSaude{
    display: none;
    margin-top: 10px;
    margin-left: 380px;
    width: 890px;
    background-color: white;
}
#boxSaude img{
    margin-top: 10px;
}
#boxSaude p{   
    margin-top: 0px;
    padding: 20px;
    margin-left: 0px;
    display: inline-block; 
    width: 254px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#boxSaude p:hover{
    background-color: #F5F5F5;
}
#boxBeleza{
    display: none;
    margin-top: 10px;
    margin-left: 380px;
    width: 890px;
    background-color: white;
}
#boxBeleza img{
    margin-top: 10px;
}
#boxBeleza p{   
    margin-top: 0px;
    padding: 20px;
    margin-left: 0px;
    display: inline-block; 
    width: 254px;  
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#boxBeleza p:hover{
    background-color: #F5F5F5;
}
#hr{
    height: 4px;
    background-color: olivedrab;
}
.span{
    background-color: aqua;
}

/*fim do estilo do Menu*/

/*========== FIM DO ESTILO DO HEADER.PHP =============*/

