body{
    margin: 0px;
    background-color: whitesmoke;
}

#boxEdit{
    margin-top:-190px;
    margin-left: 600px;
    background-color: antiquewhite;
    box-shadow: 2px 2px dimgrey;
    width: 650px;
    height: 530px;
    
}
#fotoPerfil{
    margin-left:620px;
    margin-top:60px;
}
#fotoPerfil #fotoPerfilAll1{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
#fotoPerfil2{
    margin-left:620px;
    padding-top:160px;
}
#fotoPerfil2 #fotoPerfilAll2{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
.inpEdit{
    
    padding-top: 60px;
    margin-left: 200px;
}
.inpEdit input{
    border: hidden;
    background-color: antiquewhite;
    height: 40px;
    width: 150px;
    padding-left: 15px;
}
.button1{
    
    margin-left: 0px;
    
    background-color: #FD8B2A;
    padding: 6px 15px 6px 15px;
    border-radius: 8px;
    color: white;
    box-shadow: 4px 4px #898989;
}
.button2{
    float: left;
    width: 100px;
    margin-top: -24px;
    margin-left: 480px;
    background-color: #FD8B2A;
    padding: 6px 15px 6px 15px;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px #898989;
}
a{
    
    text-decoration: none;
}
.p{
    float: left;
    margin-top: -225px;
    margin-left: 600px;
}

label{
    float: right;
    margin-top: -280px;
    margin-right: 505px;
}
label:hover{
    color: steelblue;
}
#imageEdit{
    display: none;
}
