body{
    margin: 0px;
    margin-bottom: 0px; 
    background-image: url("verão.jpg");
    background-size: cover;    
}

section{
    margin-top: -30px;
    background-color: rgba(222, 222, 222 , 0.3);
    height: 750px;
}
h3{
    padding-top: 60px;
    margin-left: 900px;
    font-size: 30px;
    color: aliceblue;
}
section form{
    margin-left: 900px;
}

#nome, #sobrenome{
    width: 189px;
    font-size: 22px;
    border: 1px solid #D0E17D;
    border-radius: 5px;
}
#email, #reemail, #senha{
    width: 385px;
    font-size: 22px;
    border: 1px solid #D0E17D;
    border-radius: 5px;
}
h2{
    color: dimgray;

}

.button{
    background-color: #EEE8AA;
    border: 2px solid silver;
    border-radius: 4px;
    width: 100px;
    color: darkgrey;
    font-size: 16px;    

}
#footer{
    margin-top: 0px;
    background-color: #D0E17D;
    height: 120px;
}
.p{
    float: right;
    margin-right: 500px;
    margin-top: 10px;
    color: azure;
    font-size: 30px;
}