body{
    margin: 0px;
    background-image: url('cora.jpg');
    background-size: cover;
}
/*box de configuraçao*/
#config{
    margin-left:1360px;
    width: 193px;
    height: 92px;
    background-color: azure;
    visibility: hidden;
}
/*lista de opcoes*/
#editar{
    margin-top: -19px;
    margin-left: -40px;
    list-style-type: none;
    display: inline-block;
}
#editar li{
    font-size: 20px;
    padding: 8px;
   padding-left: 50px;
    height: 30px;
    width: 135px;
}
#editar li:hover{
    background-color: dimgray;
    color: white;
    cursor: pointer;
}
/*a box principal da pagina*/
#boxHome{
    margin-top: -70px;
    margin-left: 550px;
    width: 800px;
    background-color: beige;
    box-shadow: 3px 3px 3px dimgray;
}
/*box que armazena foto do perfil*/
#boximagemPerfil{
    padding-top: 125px;
    padding-left: 65px;

}
/*foto do perfil*/
#fotoPerfil{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: aqua;

}
#nomeCompleto{
   
    margin-top: -150px;
    
    font-size: 37px;
    color: dimgray;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.infoPessoal{
    margin-top: -180px;
    margin-left: 318px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
}
 /*botao de editar perfil*/
.button1{
    width: 100px;
    margin-left: 220px;
    background-color: #FD8B2A;

    padding: 6px 15px 6px 15px;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px dimgray;

}
/*botao de sair*/
.button2{
    width: 100px;
    margin-left: 20px;
    background-color: #FD8B2A;
    padding: 6px 20px 6px 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px dimgray;
    cursor: pointer;

}
/*titulo da area de pessoas a conhecer*/
#h1{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: dimgray;
    margin-left: 180px;

}
.pessoas{
    margin-left: 300px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: dimgray;
}

a{
    color: white;
    text-decoration: none;
    
}
#fotoPerfilAll2{
    float: left;
    margin-left: -150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#fotoPerfilAll1{
    float: left;
    margin-left: -150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



